openapi: 3.1.0
info:
  title: Pockyt Online Payments API's
  version: 0.1.0
  description: |-
    $ref: introduction/_introduction.md
  license:
    name: Pockyt
    url: https://mapi.Pockyt.yunkeguan.com

  contact: 
    name: API Team
    email: n@gwocu.com  
    url: https://gwocu.com/contact

tags:
  - name: Online Digital Wallet Payment Processing API`s
    description: List of API`s  

servers: 
  - url:  https://mapi.yuansfer.com
    description: Production
  - url:  https://mapi.yuansfer.yunkeguan.com
    description: Sandbox
components:
  schemas: 
    secure-pay:
      $ref: schemas\secure-pay.yaml
    process:
      $ref: schemas\process.yaml
    pre-pay: 
      $ref: schemas\pre-pay.yaml
    refund:
      $ref: schemas\refund.yaml
    cancel:
      $ref: schemas\cancel.yaml
    consult:
      $ref: schemas\consult.yaml
    apply-token:
      $ref: schemas\apply-token.yaml
    pay:
     $ref: schemas\pay.yaml
    revoke:
      $ref: schemas\revoke.yaml
    
  securitySchemes:
    api_keys:
      description: |
        Generate your secret API key in the app settings.
      name: secret-key
      type: apiKey
      in: header
    jwt:
      description: |
        Generate your JWT when you log in.
      type: http
      scheme: bearer
      bearerFormat: JWT   
paths:  
  /secure-pay:  
     $ref: paths\secure-pay.yaml
  /process:
    $ref: paths\process.yaml
  /prepay:
    $ref: paths\prepay.yaml
  /refund:
    $ref: paths\refund.yaml
  /cancel:
    $ref: paths\cancel.yaml
  /consult:
    $ref: paths\consult.yaml
  /apply-token:
    $ref: paths\apply-token.yaml
  /pay:
    $ref: paths\pay.yaml
  /revovke:
    $ref: paths\revoke.yaml
  /transaction object:
    $ref: paths\transaction object.yaml

  
   
       
      
  
        
         
                   
                 
        
 
          
         
      
  
           
   
  
 
  
  